page-home {
   h2 { 
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color:black;
   }
   .toolbar-background {
    background-color: rgba(52, 214, 71, 0.685);
  }
  padding: 100px;
  size{
        font-size: 20px;
  }
}
