<ion-header>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <ion-navbar>
      <ion-title>
        Vista Zoo
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="saveFile()">
            <ion-icon name="download"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    
 <!--se modifica la vista con un puntito-->   
    <label >
        <h2 ion-text color="default" text-center>
          {{hora2}}{{hora}} : {{minutos2}}{{minutos}} . {{segundos2}}{{segundos}}
       </h2>
      </label>
    
    <!-- Area de botones -->
      <div text-center>
        <button (click)="start(tap)" ion-button small color="primary" >Start</button>
        <!--<button (click)="lapso(hora,minutos,segundos)" ion-button color="danger">Lapso</button>-->
        <button (click)="stop()" ion-button small color="dark" >Reset</button>
        <button ion-button small color="dark" >Pause</button>
        <button (click)="doPrompt()" ion-button small color="secondary">Add +</button>
    </div>
<!--
    <div>
        <ion-item (tap)="tapEvent($event)">
            {{tap}} veces 
          <button (click)="pause()" ion-button color="dark" outline round>Pause</button>
  
        </ion-item>
    </div>
    -->
    <div text-center>
      <ion-item *ngFor="let objToggleButton of objArrayToggleButtons">
        <ion-label>{{objToggleButton.tituloToogle}}</ion-label>
        <ion-toggle  (ionChange)="lapso(hora,minutos,segundos,objToggleButton.tituloToogle)" ></ion-toggle>
      </ion-item>
  </div>
 
    <div text-center>
        <label *ngFor="let cole of coleccion ">
          <p>
            {{cole.titulo}} =
            {{cole.hora2}}{{cole.hora}} : 
            {{cole.minuto2}}{{cole.minuto}} : 
            {{cole.segundo2}}{{cole.segundo}}
            
          </p>
          </label>
    </div>
  

  
    <!--BOTON DE AGREGAR BOTONES XD -->
    
</ion-content>
