page-home {
   h2 { 
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: rgb(228, 66, 66);
   }
   .toolbar-background {
    background-color: rgba(52, 214, 71, 0.685);
  }
  
}
